In [1]:
import windc_data as wd


datasets = {
    ## National Model
    #"bea_supply" : wd.BeaSupply,
    #"bea_use" : wd.BeaUse,
    
    ## State model
    #"bea_gsp":wd.BeaGsp,
    #"bea_pce":wd.BeaPce,
    #"census_sgf" : wd.CensusSGF,
    #"cfs" : wd.CFS,
    #"state_exim" : wd.StateExIm,


    #"eia_emissions" : wd.EiaEmissions,
    #"eia_heatrate" : wd.EiaHeatrate,
    #"eia_seds" : wd.EiaSeds,

    #"eia_crude_price" : wd.EiaCrude,

    #"bea_supply_det":wd.BeaSupplyDet,
    #"bea_use_det" : wd.BeaUseDet,

    #"nass" : wd.Nass,
    #"emission_rate":wd.EmissionRate
    }

data_dir = r"C:\Users\mphillipson\Documents\WiNDC\windc_raw_data\windc_3_0_0"


w1 = wd.WindcEnvironment(data_dir,
                         load = datasets,
                         verbose = False)

In [2]:
w1.keys()

dict_keys(['r', 'sr', 'i', 'fd', 'ts', 'va', 'i_det', 'sector_map', 'seds_src', 'yr', 'version', 'ec', 'sgf_units'])

In [4]:
w1["ir_supply"]

             0 Description
0          agr
1          fof
2          wpd
3          rec
4   TotalBasic
..         ...         ...
69         nrs
70         fdd
71         fnd
72         fen
73         oth

[74 rows x 2 columns]

In [2]:
import pandas as pd

X = pd.Series([1,2,3])

In [6]:
pd.DataFrame(X)

        0
0       1
1       2
2       3
lakdjf

In [5]:
X

0         1
1         2
2         3
lakdjf
dtype: object