In [2]:
import gams.transfer as gt
import pandas as pd
import windc_data as wd


datasets = {
    ## National Model
    "bea_supply" : wd.BeaSupply,
    "bea_use" : wd.BeaUse,
    
    ## State model
    #"bea_gsp":wd.BeaGsp,
    #"bea_pce":wd.BeaPce,
    #"census_sgf" : wd.CensusSGF,
    #"cfs" : wd.CFS,
    #"state_exim" : wd.StateExIm,


    #"eia_emissions" : wd.EiaEmissions,
    #"eia_heatrate" : wd.EiaHeatrate,
    #"eia_seds" : wd.EiaSeds,

    #"bea_supply_det":wd.BeaSupplyDet,
    #"bea_use_det" : wd.BeaUseDet,


    #"eia_crude_price" : wd.EiaCrude,
    #"nass" : wd.Nass,
    }

data_dir = r"C:\Users\mphillipson\Documents\WiNDC\windc_raw_data\windc_3_0_0"


w1 = wd.WindcEnvironment(data_dir,
                         load = datasets,
                         verbose = False)

In [8]:
w1.keys()

dict_keys(['r', 'sr', 'i', 'fd', 'ts', 'va', 'i_det', 'sector_map', 'seds_src', 'yr', 'version', 'ir_supply', 'jc_supply', 'supply_units', 'ir_use', 'jc_use', 'use_units'])

In [10]:
w1["supply_units"]

         yr ir_supply jc_supply                         units     value
0      1997       agr       agr  millions of us dollars (USD)  219681.0
1      1998       agr       agr  millions of us dollars (USD)  212036.0
2      1999       agr       agr  millions of us dollars (USD)  212534.0
3      2000       agr       agr  millions of us dollars (USD)  219834.0
4      2001       agr       agr  millions of us dollars (USD)  227920.0
...     ...       ...       ...                           ...       ...
34846  2016       oth    ciffob  millions of us dollars (USD)     -22.0
34847  2017       oth    ciffob  millions of us dollars (USD)     -26.0
34848  2018       oth    ciffob  millions of us dollars (USD)     -41.0
34849  2019       oth    ciffob  millions of us dollars (USD)     -48.0
34850  2020       oth    ciffob  millions of us dollars (USD)     -53.0

[34851 rows x 5 columns]

In [4]:
#w1.to_gdx(r"C:\Users\mphillipson\Documents\WiNDC\buildstream_julia\base_data","windc_data_2020.gdx")

key
key
key
key
key
key
key
key
key
key
key
key
key
key

In [2]:
w1.keys()

dict_keys(['r', 'sr', 'i', 'fd', 'ts', 'va', 'i_det', 'sector_map', 'seds_src', 'yr', 'version', 'ec', 'sgf_units', 'n', 'cfsdata_st_units', 'n_usa', 't', 'usatrd_units', 'co2dim', 'emissions_units', 'heatrate_units', 'source', 'sector', 'seds_units', 'ir_supply_det', 'jc_supply_det', 'supply_det_units', 'ir_use_det', 'jc_use_det', 'use_det_units', 'crude_oil_price_units', 'nass_naics', 'nass_units'])

In [12]:
w["supply_units"].domain

[<GAMS Transfer Set `yr` (0x1a3d81133d0)>,
 <GAMS Transfer Set `ir_supply` (0x1a3d8113070)>,
 <GAMS Transfer Set `jc_supply` (0x1a3d8113040)>,
 '*']